* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    background-color: #f0f0f0;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo p {
    font-size: 14px;
    color: gray;
}


ul {
    display: flex;
    list-style: none;
    padding: 0;
    /* Remove any default padding */
    margin: 0;
    /* Remove any default margin */
}

ul li {
    margin-right: 2rem;
    /* Space between list items */
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #3f51b5;
    font-weight: 600;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul li a:hover {
    background-color: royalblue;
    color: white;
}

ul li a i {
    margin-right: 5px;
}



hr {
    margin: 2px 0;
    border: none;
    height: 1px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 20rem);
}


.content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content h3 {
    font-size: 2vw;
    font-weight: 700;
    color: #133443;
    margin-bottom: 15px;
}

.content p {
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
}

.content a {
    color: #055898;
    font-weight: 600;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #055898;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1c5f7e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.img-course {
    max-width: 100%;
    height: auto;
}


.cards-1,
.cards-2 {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card span {
    font-size: 14px;
    color: gray;
}


footer {
    margin-top: 20px;
    text-align: center;
    background-color: #055898;
    color: white;
    padding: 15px;
    line-height: 1.5;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 65%;
}

.right h3 {
    font-size: 1.8rem;
    color: #133443;
    margin-bottom: 10px;
}

.right p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5rem;
    margin-bottom: 15px;
}

.right a {
    color: #055898;
    text-decoration: none;
    font-weight: bold;
}

.right a:hover {
    text-decoration: underline;
}

.right .btn {
    margin-top: 10px;
    width: 200px;
    text-align: center;
    background-color: #055898;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.right .btn:hover {
    background-color: #1c5f7e;
}

.img-course {
    margin-top: 15px;

}

#para {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    padding: 2rem;
    border-radius: 6px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#para button {
    margin-left: 10px;
    background-color: #006dbc;
    color: white;
    border: 1px solid #006dbc;
    padding: 1px 7px 1px 7px;
    border-radius: 5px;
}

#para-verify:hover {
    background-color: #2900bc81;
}

.svg {
    display: flex;
    align-items: center;
    justify-items: center;
}

.blue-div {
    display: flex;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.first-blue,
.second-blue {
    height: 400px;
    text-align: center;
    flex: 1;
    border-radius: 10px;
    background-color: #006dbc;
    color: white;
    margin: 15px;
    padding: 30px;
}

.first-blue ol {
    list-style: circle;
}

.first-blue ol li {
    padding: 5px;
    margin: 10px;
    list-style: circle;
    color: white;
}

.arrow {
    display: flex;
}

.arrow-des {
    flex: 3;
}

.arrow-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.arrow-logo svg {
    border-radius: 10px;
    background-color: white;
    padding: auto;
    justify-content: center;
}

.form {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.form h4 {
    color: #006dbc;
}

.form input {
    margin: 10px;
    width: 350px;
    padding: 10px;
}

.form-number {
    display: flex;
    width: 380px;
    margin-left: 100px;
}

.form-number select {
    flex: 1;
    height: 40px;
    margin-top: 10px;
}

.form-number input {
    flex: 8;
}

.last-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 330px;
    height: 200px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box img {
    display: flex;
    justify-content: center;
    width: 70px;
}

.box p {
    font-size: small;
}

@media (max-width: 1024px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content h3,
    .content p,
    .btn {
        margin: 0;
    }

    .cards-1,
    .card .card {
        width: 90%;
    }

    footer {
        padding: 10px;
        font-size: 14px;
    }
}
